.new-post{
    padding: 16px 0;
    border-bottom:1px solid #ccc;
}

.new-post header,
.post header{
    margin-bottom: 20px;
}

.posts .post{
    padding-left:10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.error,
.success{
    text-align: center;
}

.posts .post .info{
    color: #aaa;
    font-style: italic;
}

.error {
    border: 1px solid red;
    background-color: #f9b5af;
    color: red;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    border: 1px solid green;
    background-color: #d1f9da;
    color: green;
}

